<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload to Pinata</title>
    <link rel="stylesheet" href="index.css">
   
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/login">Login</a>
    </nav>

    <!-- Banner -->
    <div class="banner">
      <div class="text-box">
        <h1>Upload a File to Pinata</h1>
      </div>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-input-container">
          <input type="file" name="file" required />
        </div>
        <button class="button" type="submit">Upload</button>
      </form>

      <!-- Output for IPFS Hash -->
      <% if (ipfsHash) { %>
      <h2 class="output-text">
        Stored IPFS Hash:
        <a href="https://ipfs.io/ipfs/<%= ipfsHash %>" target="_blank"
          ><%= ipfsHash %></a
        >
      </h2>
      <% } %>

      <!-- Verification Message -->
      <% if (verificationMessage) { %>
      <h3 class="verification-message"><%= verificationMessage %></h3>
      <% } %>
    </div>
  </body>
</html>
