<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifier Signup</title>
    <link rel="stylesheet" href="verifier-signup.css">
</head>
<body>
    <div class="overlay"></div> <!-- Add overlay div here -->
    <div class="login-container">
        <h1>Verifier Signup</h1>
        <form action="/verifier-signup" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="button">Sign up</button>
        </form>
    </div>
</body>
</html>
